{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Mya|Wishlist</title>
{% endblock meta %}

{% block content %}

    {% include 'header.html' %}

    <h5>Nama: </h5>
    <p>{{nama}}</p>

    <table class="table table-dark table-striped table-hover table-active table-bordered border-light mt-4">
        <tr>
            <th scope="col" class="text-center">Nama Barang</th>
            <th scope="col" class="text-center">Harga Barang</th>
            <th scope="col" class="text-center">Deskripsi</th>
        </tr>

        {% for barang in list_barang %}
        <tr>
        <td class="text-center">{{barang.nama_barang}}</td>
        <td class="text-center">{{barang.harga_barang}}</td>
        <td class="text-center">{{barang.deskripsi}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}