{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Mya | Wishlist</title>
{% endblock meta %}

{% block content %}

    {% include 'header.html' %}

    <section class="landing">
        <div class="container-fluid">
            <div class="title">
                <h1 class="text-center p-3">Selamat Datang di</h1>
                <h1 class="text-center">Wishlist Mya</h1>
            </div>
        </div>
    </section>

    <div class="container shadow p-3 mb-5 bg-body rounded">
        <table class="table table-dark table-striped table-hover table-active table-bordered border-light mt-4">
            <tr>
                <th scope="col" class="text-center">Nama Barang</th>
                <th scope="col" class="text-center">Harga Barang</th>
                <th scope="col" class="text-center">Deskripsi</th>
            </tr>
            
            <!-- Menampung data barang dari submisi form -->
            <tr id="data-id"></tr>

        </table>
    </div>

    <!-- Form for adding data barang -->
    <div class="container shadow p-3 mb-5 bg-body rounded">
        <form id= "form" action="" method="POST">
            {% csrf_token %}

            <div class="container mb-2">
                <label for="nama_barang">Nama Barang</label>
                <input
                type="text"
                name="nama_barang"
                id="nama_barang"
                placeholder="Masukkan Nama Barang"
                class="form-control"
                />
            </div>

            <div class="container mb-2">
                <label for="harga_barang">Harga Barang</label>
                <input
                type="text"
                name="harga_barang"
                id="harga_barang"
                placeholder="Masukkan Harga Barang"
                class="form-control"
                />
            </div>

            <div class="container mb-2">
                <label for="deskripsi">Deskripsi Barang</label>
                <input
                type="text"
                name="deskripsi"
                id="deskripsi"
                placeholder="Masukkan Deskripsi Barang"
                class="form-control"
                />
            </div>
            <tr>
                <td><input class="btn btn-get-data btn-primary" id="form-btn"   type="submit" value="Add List Barang"></td>
            </tr>
        </form>
    </div>


{% endblock content %}


<!-- IMPLEMENT AJAX GET USING JQUERY TO FETCH DATA FROM DATABASE AND FROM USER SUBMISSION-->
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    // get data from endpoint json
    async function getWishlist() {
    return fetch("{% url 'get_wishlist_json' %}").then((result) => result.json())}

    async function refreshWishlist() {
        document.getElementById("data-id").innerHTML = ""

        // const untuk manggil async function tadi (simpen hasil return nya juga)
        const wishlist = await getWishlist()
        let htmlString = `\n<tr>
                <th scope="col" class="text-center">Nama Barang</th>
                <th scope="col" class="text-center">Harga Barang</th>
                <th scope="col" class="text-center">Deskripsi</th>
            </tr>`

        // iterate const, lalu akses fieldnya
        wishlist.forEach((item) => {
          htmlString += `\n<tr>
          <th>${item.fields.nama_barang}</th>
          <th>${item.fields.harga_barang}</th>
          <th>${item.fields.deskripsi}</th>
        </tr>` 
        })
        
        document.getElementById("data-id").innerHTML = htmlString
    }

    // get data from form submission
    function addWishlist() {
        fetch("{% url 'add_wishlist_item' %}", {
            method: "POST",
            body: new CreateNew(document.querySelector('#form'))
        }).then(refreshWishlist)
        return false
    }

    // buat button yang onClick manggil function di poin 1
    document.getElementById("form-btn").onclick = addWishlist
    refreshWishlist()
    
</script>

{% endblock scripts %}